@import "tailwindcss";

@theme {
  --color-ieee-blue: #00629B;
  --color-ieee-dark: #002855;
  --color-ieee-light: #E5F6FF;
}
@custom-variant dark (&:where(.dark, .dark *));

/* Add this block */
:root {
  color-scheme: light;
}
:root.dark {
  color-scheme: dark;
}

body {
  @apply bg-slate-50 text-slate-800 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-200;
}